<app-header title="Membresia"></app-header>
<ion-content *ngIf="(entry$ | async) as item">
  <div class="container">
    <ion-list class="mt-4" lines="none">
      <ion-item>
        <fa-icon icon="money-bill-wave" slot="start"></fa-icon>
        <ion-label>Valor mensual: {{ item?.plan?.amount / 100 || 0 | currency }}</ion-label>
      </ion-item>
      <ion-item>
        <fa-icon icon="calendar-check" slot="start"></fa-icon>
        <ion-label>
          Subscripción: {{ item.current_period_start | amFromUnix | amDateFormat: 'DD-MM-YY' }}
        </ion-label>
      </ion-item>
      <ion-item>
        <fa-icon icon="calendar-check" slot="start"></fa-icon>
        <ion-label>Periodo Prueba: {{ item.trial_end | amFromUnix | amDateFormat: 'DD-MM-YY' }}</ion-label>
      </ion-item>
    </ion-list>
    <div class="box mt-3" [ngClass]="item.default_payment_method !== null || invisible? 'invisible': ''">
      <ngx-stripe-card-group [elementsOptions]="elementsOptions">
        <div class="row justify-content-center">
          <div class="col-12 mb-3">
            <div class="form-control">
              <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
            </div>
          </div>
          <div class="col-7">
            <div class="form-control">
              <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
            </div>
          </div>
          <div class="col-5">
            <div class="form-control">
              <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>
            </div>
          </div>
        </div>
      </ngx-stripe-card-group>
      <div class="text-center py-3">
        <ion-button expand="block" color="primary" shape="round" (click)="onPay()">
          Pagar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
<ng-template #notFound>
  <ion-content>
    <ion-spinner name="circular"></ion-spinner>
  </ion-content>
</ng-template>
