
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>
      Servicio: {{ uid }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div class="message" *ngFor="let item of items$ | async">
    <div class="imessage">
      <p [ngClass]="item.type === 'COMPANY' ? 'from-them' : 'from-me'">
        <span *ngIf="item.input ==='TEXT'">{{ item.message }}</span>
        <span class="acc" *ngIf="item.input ==='ACC'" (click)="playFile(item.name)">
          <ion-icon name="play"></ion-icon>
        </span>
        <!-- <audio controls autoplay *ngIf="item.input ==='ACC'">
          <source [src]="item.message" type="audio/wav">
        </audio> -->
        <span>

        </span>
          <img *ngIf="item.input ==='IMG'" [src]="item.message" class="img" (click)="openPop()">
        <span>
          {{item.createdAt.toMillis() | date: format}}
          <ion-icon *ngIf="item.type === 'ME' || item.type ==='USER'"
            name="checkmark-done" [color]="item.status === 'READ' ? 'success' : 'medium'">
          </ion-icon>
        </span>
      </p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="container">
      <div class="row g-0 align-items-center">
        <div [ngClass]="toogleMessage ? 'col-10' : 'col-9'">
          <ion-input *ngIf="!recording" type="text" placeholder="Digite su mensaje..." [(ngModel)]="message"
            (ionInput)="txtMessage()" mode="ios" (keypress)="sendMessageKeypress($event.keyCode)"></ion-input>
          <span *ngIf="recording">{{ durationDisplay }}</span>
        </div>
        <div [ngClass]="toogleMessage ? 'col-2' : 'col-3'">
          <div class="buttons-text">
            <span *ngIf="!toogleMessage">
              <ion-button  fill="clear" (click)="cameraGet()">
                <ion-icon name="camera" color="info"></ion-icon>
              </ion-button>
              <ion-button #recordBtn fill="clear">
                <ion-icon name="mic" color="success"></ion-icon>
              </ion-button>
            </span>
            <span *ngIf="toogleMessage">
              <ion-button fill="clear" (click)="sendMessage()">
                <ion-icon name="send" color="primary"></ion-icon>
              </ion-button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
<!-- <ion-content>
  <div class="imessage">
    <p class="from-them">It was loud. We just laid there and said &ldquo;is this an earthquake? I think this is an earthquake.&rdquo;</p>
    <p class="from-me">
      Like is this an earthquake just go back to sleep
      <span>
        26-11 14:20
        <ion-icon name="checkmark-done" [color]="true ? 'success' : 'light'"></ion-icon>
      </span>
    </p>
    <p class="from-them margin-b_one">It&rsquo;s more like &ldquo;this is an earthquake. Check the Internet. Yup. Earthquake. This is the size. This is the epicenter. Check social media. Make sure the East Coast knows I&rsquo;m alive. Okay, try and go back to sleep.&rdquo;😱
      <span> 26-11 14:30 </span>
    </p>
    <p class="from-me no-tail emoji">👍🏻</p>
    <p class="from-me">Glad you&rsquo;re safe</p>
  </div>
</ion-content>
<ion-footer class="">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col [size]="foot_1">
        <ion-textarea [autoGrow]="true" *ngIf="!recording" type="text" (ionBlur)="outText($event)" (ionFocus)="inText($event)"
          placeholder="Digite su mensaje..."></ion-textarea>
        <span *ngIf="recording">{{ durationDisplay }}</span>
      </ion-col>
      <ion-col [size]="foot_2">
        <span *ngIf="!messageToogle">
          <ion-button #cam fill="clear">
            <ion-icon name="camera-outline" color="dark"></ion-icon>
          </ion-button>
          <ion-button #mic fill="clear">
            <ion-icon name="mic-outline" color="dark"></ion-icon>
          </ion-button>
        </span>
        <ion-button #msg fill="clear" *ngIf="messageToogle">
          <ion-icon name="send" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
 -->


<!-- <ion-button slot="end" fill="clear" color="meka" size="small">

</ion-button>
<ion-button slot="end" fill="clear" size="small" #recordBtn>
  <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
</ion-button> -->

