ion-content {
  --background: #feffef;
  .imessage {
    display: flex;
    font-size: 1rem;
    max-width: 600px;
    margin: 0 auto .5rem;
    padding: 0.1rem 1rem;
    border-radius: 0.25rem;
    flex-direction: column;
    p {
      border-radius: 1.15rem;
      line-height: 1.25;
      max-width: 75%;
      padding: 0.5rem .875rem;
      position: relative;
      word-wrap: break-word;
      img {
        margin-bottom: .5rem;
        border-radius: 10px;
      }
      audio {
        width: 220px !important;
        margin-bottom: .5rem;
      }
    }
    p[class^="from-"] {
      margin: 0.5rem 0;
      width: fit-content;
    }
    p.from-me ~ p.from-me {
      margin: 0.25rem 0 0;
    }
    p.from-me ~ p.from-me:not(:last-child) {
      margin: 0.25rem 0 0;
    }
    p.from-me ~ p.from-me:last-child {
      margin-bottom: 0.5rem;
    }
    p[class^="from-"].emoji {
      background: none;
      font-size: 2.5rem;
    }
    p[class^="from-"].emoji::before {
      content: none;
    }
    .no-tail::before {
      display: none;
    }
    .from-me {
      align-self: flex-end;
      background-color: #dbeeeb;
      color: rgb(0, 0, 0);
      &::before {
        right: -0.35rem;
        border-right: 1rem solid #dbeeeb;
        transform: translate(0, -0.1rem);
        border-bottom-left-radius: 0.8rem 0.7rem;
      }
      &::after {
        width: 10px;
        right: -40px;
        background-color: #fff;
        transform:translate(-30px, -2px);
        border-bottom-left-radius: 0.5rem;
      }
      span {
        font-size: .8rem;
        display: block;
        text-align: right;
      }
    }
    .from-them {
      color: #000;
      align-items: flex-start;
      background-color: #ededf0;
      &::before {
        left: -0.35rem;
        border-left: 1rem solid #e5e5ea;
        transform: translate(0, -0.1rem);
        border-bottom-right-radius: 0.8rem 0.7rem;
      }
      &::after {
        left: 20px;
        width: 10px;
        background-color: #fff;
        transform: translate(-30px, -2px);
        border-bottom-right-radius: 0.5rem;
      }
      span {
        font-size: .8rem;
        display: block;
        text-align: right;
      }
    }
  }
}


ion-header {
  ion-toolbar {
    --background: #feffef;
  }
}

ion-footer {
  ion-toolbar {
    --background: #f4f5eb;
    ion-input {
      border: .5px;
      height: 40px;
      border-radius: 10px;
      --background: #dfdfdf;
      --padding-start: 10px;
      --padding-end: 10px;
    }
    ion-button {
      --padding-start	: 8px;
      --padding-end	  : 8px;
    }
    .buttons-text {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}


// ion-content {
//   --background: #feffef;
//   .imessage {
//     display: flex;
//     font-size: 1rem;
//     max-width: 600px;
//     margin: 0 auto 1rem;
//     padding: 0.5rem 1rem;
//     border-radius: 0.25rem;
//     flex-direction: column;
//     p {
//       border-radius: 1.15rem;
//       line-height: 1.25;
//       max-width: 75%;
//       padding: 0.5rem .875rem;
//       position: relative;
//       word-wrap: break-word;
//     }
//     p[class^="from-"] {
//       margin: 0.5rem 0;
//       width: fit-content;
//     }
//     p.from-me ~ p.from-me {
//       margin: 0.25rem 0 0;
//     }
//     p.from-me ~ p.from-me:not(:last-child) {
//       margin: 0.25rem 0 0;
//     }
//     p.from-me ~ p.from-me:last-child {
//       margin-bottom: 0.5rem;
//     }
//     p[class^="from-"].emoji {
//       background: none;
//       font-size: 2.5rem;
//     }
//     p[class^="from-"].emoji::before {
//       content: none;
//     }
//     .no-tail::before {
//       display: none;
//     }
//     .from-me {
//       align-self: flex-end;
//       background-color: #9fcdfa;
//       color: rgb(0, 0, 0);
//       &::before {
//         right: -0.35rem;
//         border-right: 1rem solid #9fcdfa;
//         transform: translate(0, -0.1rem);
//         border-bottom-left-radius: 0.8rem 0.7rem;
//       }
//       &::after {
//         width: 10px;
//         right: -40px;
//         background-color: #fff;
//         transform:translate(-30px, -2px);
//         border-bottom-left-radius: 0.5rem;
//       }
//       span {
//         font-size: .8rem;
//         display: block;
//         text-align: right;
//       }
//     }
//     .from-them {
//       color: #000;
//       align-items: flex-start;
//       background-color: #ededf0;
//       &::before {
//         left: -0.35rem;
//         border-left: 1rem solid #e5e5ea;
//         transform: translate(0, -0.1rem);
//         border-bottom-right-radius: 0.8rem 0.7rem;
//       }
//       &::after {
//         left: 20px;
//         width: 10px;
//         background-color: #fff;
//         transform: translate(-30px, -2px);
//         border-bottom-right-radius: 0.5rem;
//       }
//       span {
//         font-size: .8rem;
//         display: block;
//         text-align: right;
//       }
//     }
//   }
// }

// ion-footer {
//   ion-toolbar {
//     --min-height: 40px;
//     --padding-start: 5px;
//     ion-textarea {
//       border: .5px;
//       height: 30px;
//       border-radius: 10px;
//       --background: #dfdfdf;
//       --padding-start: 7px;
//       --padding-end: 7px;
//     }
//     ion-button {
//       --padding-start	: 6px;
//       --padding-end	  : 6px;
//       height: 2rem !important;
//     }
//   }
// }
