ion-content, ion-list, ion-toolbar {
  background: var(--ion-meka-principal);
  --background: var(--ion-meka-principal);
  ion-list {
    ion-item {
      --background: none;
      --padding-start: 10px;
      --padding-inner-end: 10px;
      ion-label {
        --color: #393939;
        h2 {
          color: #393939;
        }
      }
    }
  }
}

ion-textarea {
  --padding-bottom: 45px;
  --background: rgba(0,0,0,.15);;
}
