<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="onClose()">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-list lines="none">
    <ion-item class="mb-3">
      <ion-label>
        <h2>Rate your service?</h2>
      </ion-label>
    </ion-item>
    <ion-item class="mb-3">
      <app-stars-widget [type]="false" [num]="4" (value)="getStar($event)"></app-stars-widget>
    </ion-item>
    <ion-item class="mb-3">
      <ion-textarea placeholder="Comments..." [autoGrow]="true" [rows]="5" [(ngModel)]="comment"></ion-textarea>
    </ion-item>
  </ion-list> -->
  <div class="px-2">
    <div class="px-4 mb-3">
      <ion-label> <h2>Rate your service?</h2> </ion-label>
    </div>
    <app-stars-widget [type]="false" [num]="4" (value)="getStar($event)"></app-stars-widget>
  </div>
  <div class="px-3">
    <div class="px-3 mt-4 mb-3">
      <ion-label> <h2>Comments</h2> </ion-label>
    </div>
    <ion-textarea  [autoGrow]="true" [rows]="15" [(ngModel)]="comment"></ion-textarea>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onSubmit()" expand="full" color="danger" mode="ios">
      Send
    </ion-button>
  </ion-toolbar>
</ion-footer>
