<app-header title="Compañias"></app-header>
<ion-content>
  <ion-progress-bar *ngIf="load" mode="ios" type="indeterminate" color="warning"></ion-progress-bar>
  <div *ngIf="(lists$ | async) as item; else noItem">
    <div id="company">
      <ion-item>
        <ion-label>
          <h2 class="mb-2">{{ item.name }}</h2>
          <p>
            <ion-icon name="mail"></ion-icon>
            {{ item.email }}</p>
          <p>
            <ion-icon name="call"></ion-icon>
            +5541998819501</p>
          <p class="ion-text-wrap">
            <ion-icon name="location"></ion-icon>
            {{ item.address[0].street }} {{ item.address[0].num }}, {{ item.address[0].district }}.<br>
            <span *ngIf="item.zip_code">{{item.zip_code}}, </span>
            {{ item.address[0].state }} - {{ item.address[0].country }}.
          </p>
          <div class="ps-2">
            <h2 class="mb-2">
              <ion-icon name="list-outline" class="me-1"></ion-icon>
              Categories
            </h2>
            <ul>
              <li *ngFor="let type of item.type_expert">{{ type }}</li>
            </ul>
          </div>
        </ion-label>
      </ion-item>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="warning" (click)="onEdit(item)">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
<ng-template #noItem>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="onEdit()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ng-template>

