ion-content {
  --background: var(--ion-meka-primary);
  #company {
    ion-item {
      --background: none;
      --color: #fff;
      &:last-child {
        --border-style: none;
      }
    }
    ion-label {
      p {
        padding-left: 10px;
        margin-bottom: .5rem;
        color: #d3c825;
      }
    }
  }
}
