.widget {
  margin: 1rem 0.75rem .5rem;
}
ion-list {
  ion-label {
    --color: #fff;
    p, h2, h4 {
      color: #fff;
      font-weight: 600;
    }
  }
  background: none;
  ion-item {
    --background: none;
    ion-label {
      --color: #fff;
      p, h2, h4 {
        color: #fff;
      }
      h2 {
        font-weight: 700;
      }
    }
  }
}
