<ion-list>
  <ion-list-header>
    <ion-label>
      <h2>Accepted Services</h2>
    </ion-label>
  </ion-list-header>
  <ion-item button *ngFor="let item of items$ | async">
    <ion-label (click)="openModal(item)">
      <p class="date">{{ item.date_reg | amTimeAgo  }}</p>
      <p>{{ item.type_expert }}</p>
      <h2>{{item.code}}</h2>
      <p>{{ item.brand }} {{ item.model }}</p>
      <h4>{{ item.description }}</h4>
    </ion-label>
    <ion-button slot="end" (click)="openChat(item.code)" fill="clear" [disabled]="offline">
      <ion-label slot="start" color="warning">
        {{ item.unread > 0 ? item.unread : '' }}
        <ion-icon name="chatbubbles" color="warning"></ion-icon>
      </ion-label>
    </ion-button>
  </ion-item>
</ion-list>
