
ion-header, ion-footer {
  ion-toolbar {
    --background: #F0F3F8;
  }
}
ion-content {
  --background: #F0F3F8;
  #dados {
    ion-list {
      --background: none;
      background: none;
      ion-item {
        --background: none;
        --color: var(--ion-meka-primary);
        ion-label {
          p, h2, h3 { color: var(--ion-meka-primary); }
          p { font-size: 1rem; }
          .code {
            font-size: 2rem;
            font-weight: 300;
          }
        }
      }
    }
  }
  ion-slides {
    ion-slide {
      img {
        border-radius: 10px;
      }
    }
  }
  .map-wrapper {
    position: relative;
    margin: 1rem 0;
    #map {
      width: 100%;
      height: 300px;
    }
    #map_center {
      position: absolute;
      z-index: 99;
      height: 40px;
      width: 40px;
      top: 50%;
      left: 50%;
      margin-left: -21px;
      margin-top: -41px;
    }
  }
}
