<div class="widget-slides">
  <div class="title">
    <ion-label>
      <h2>Open Services</h2>
    </ion-label>
  </div>
  <ion-slides mode="ios" [options]="options">
    <ion-slide *ngFor="let item of items$ | async" (click)="openModal(item)">
      <div class="service">
        <ion-label>
          <p class="date">{{ item.date_reg | amTimeAgo  }}</p>
          <p>{{ item.type_expert }}</p>
          <h2>{{item.code}}</h2>
          <p>{{ item.vehicle_model.brand}} </p>
          <p>{{ item.vehicle_model.model }}</p>
          <h4>{{ item.maps.distance.replace(',', '').replace('.', ',') }}</h4>
        </ion-label>
      </div>
    </ion-slide>
  </ion-slides>
</div>
