<app-header title="Services"></app-header>
<ion-content>
  <ion-segment [value]="toogle" (ionChange)="segmentChanged($event)" mode="ios">
    <ion-segment-button value="ACCEPTED">
      <ion-label>ACCEPTED</ion-label>
    </ion-segment-button>
    <ion-segment-button value="OPEN">
      <ion-label>OPEN</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-services-list *ngIf="toogle === 'ACCEPT'; else open" [type]="toogle"></app-services-list>
</ion-content>
<ng-template #open>
  <app-services-list [type]="toogle"></app-services-list>
</ng-template>

