<div id="categories" class="container">
  <div class="row g-2">
    <div class="col-4 col-md-4 mb-1" *ngFor="let item of categories$ | async | slice: 0: toogleCategory ? total : totalCategories">
      <div class="box" (click)="goToSolicitud(item)">
        <img [src]="item.picture" class="img-fluid" [alt]="item.name | titlecase">
        <p>{{ item.name | translate }}</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-4 col-lg-2">
      <ion-button size="small" fill="clear" mode="ios" (click)="onToogleCategories()">
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        {{ (toogleCategory ? "CATEGORIES.COLLAPSE" : "CATEGORIES.SEE_ALL") | translate}}
      </ion-button>
    </div>
  </div>
</div>
