<ion-content [fullscreen]="true">
  <ion-slides #slides mode="ios" [options]="options">
    <ion-slide>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-7 col-md-5">
            <div class="text-center">
              <img src="./assets/images/logo.png" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-12 col-md-7">
            <form [formGroup]="loginForm">
              <ion-item>
                <ion-label position="stacked">{{ "SIGN.EMAIL" | translate }} <ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                <ion-text color="danger" class="form-error">
                  <small>{{ "SIGN.ERROR.EMAIL" | translate }}</small>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "SIGN.PASSWORD" | translate }} <ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="password" formControlName="password" (keyup.enter)="onSubmit()"></ion-input>
              </ion-item>
              <ion-item *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                <ion-text color="danger" class="form-error">
                  <small>{{ "SIGN.ERROR.PASSWORD" | translate }}</small>
                </ion-text>
              </ion-item>
              <div class="px-3">
                <ion-button (click)="onSubmit()" [disabled]="loginForm.invalid"  expand="block" color="warning" mode="ios">
                  {{ "SIGN.ACCESS" | translate }}
                </ion-button>
              </div>
              <ion-button (click)="goToSlides(1)" expand="block" fill="clear" shape="round" color="light" class="mb-3" mode="ios">
                {{ "SIGN.FORGET_YOUR_PASSWORD" | translate }}
              </ion-button>
            </form>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6 col-md-5">
            <div class="text-center">
              <img src="./assets/images/logo.png" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-12 col-md-7">
            <form [formGroup]="forgotPasswordForm">
              <ion-item>
                <ion-label position="stacked">{{ "SIGN.EMAIL" | translate }} <ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="email"></ion-input>
              </ion-item>
              <ion-item *ngIf="forgotPasswordForm.get('email').invalid && loginForm.get('email').touched">
                <ion-text color="danger" class="form-error">
                  <small>{{ "SIGN.ERROR.EMAIL" | translate }}</small>
                </ion-text>
              </ion-item>
              <div class="px-3">
                <ion-button (click)="onForgotPassword()" [disabled]="forgotPasswordForm.invalid" expand="block" color="warning" shape="round" mode="ios">
                  {{ "SIGN.SEND" | translate }}
                </ion-button>
              </div>
              <ion-button (click)="goToSlides(0)" color="light" expand="block" fill="clear" shape="round" class="mb-3" mode="ios">
                {{ "SIGN.BACK_TO_LOGIN" | translate }}
              </ion-button>
            </form>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="onRegister()" expand="block" fill="clear" shape="round" mode="ios" color="light">
      <span style="font-size: .85rem">{{ "SIGN.YOU_DONT_HAVE_AN_ACCOUNT" | translate}}</span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
