<div class="container mt-3">
  <form [formGroup]="forgotForm">
    <div class="row justify-content-center">
      <div class="col-12">
        <ion-item lines="none">
          <ion-label position="stacked">Nuevo Password <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="pass" type="password"></ion-input>
        </ion-item>
      </div>
      <div class="col-12">
        <ion-item lines="none">
          <ion-label position="stacked">Repetir Password <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="repass" type="password"></ion-input>
        </ion-item>
      </div>
      <div class="col-8 mt-3">
        <ion-button (click)="onSubmit()" expand="block" color="warning"
        shape="round" mode="ios">
        Actualizar
      </ion-button>
      </div>
    </div>
  </form>
</div>
