<app-header title="Home" [services]=""></app-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="bubbles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <app-on-off-widget></app-on-off-widget>
  <app-services-open-widget></app-services-open-widget>
  <app-widget-banner></app-widget-banner>
  <app-services-in-proccess-widget [code]="(code$ | async)"></app-services-in-proccess-widget>
</ion-content>
