<app-header [title]="'TABS.HISTORY' | translate"></app-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none">
    <ion-item-sliding *ngFor="let item of items$ | async">
      <ion-item button (click)="openService(item)" [detail]="false">
        <ion-label>
          <p>{{ item.status | translate }}</p>
          <h2>{{ item.code }}</h2>
          <p>
            {{ item.vehicle_model?.brand }} {{ item.vehicle_model?.model }}
          </p>
          <p>{{ item.maps.distance?.replace(',', '')?.replace('.', ',')  }}</p>
          <h4>{{ item.type_expert | translate }}</h4>
        </ion-label>
        <ion-avatar slot="end" class="expert">
          <img [src]="item.icon" />
        </ion-avatar>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
