<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons [slot]="position" *ngIf="!link; else name">
      <ion-button (click)="onSolicitud()">
        <ion-badge id="notifications-badge" color="danger">99</ion-badge>
        <ion-icon slot="icon-only" src="./assets/images/mechanics.svg">
        </ion-icon>
      </ion-button>
      <ion-button (click)="onNotification()">
        <ion-icon slot="icon-only"
          [name]="content > 0 ? 'notifications' : 'notifications-outline'"
          [ngClass]="content > 0 ? 'full' : 'empty'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ng-template #name>
  <ion-buttons [slot]="position">
    <ion-button (click)="onMenu(link)">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ng-template>
