<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title> {{ title }} </ion-title>
    <ion-buttons slot="start" *ngIf="link">
      <ion-button (click)="onMenu(link)">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="me-1" (click)="onSolicitud()">
        <ion-badge id="notifications-badge" color="danger"> {{ count$ | async }} </ion-badge>
        <ion-icon slot="icon-only" src="./assets/images/mechanics.svg">
        </ion-icon>
      </ion-button>
      <ion-button (click)="onNotification()">
        <ion-icon slot="icon-only"
          [name]="content > 0 ? 'notifications' : 'notifications-outline'"
          [ngClass]="content > 0 ? 'full' : 'empty'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

