<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="onBack()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="toolbar-rounded">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-3">
            <ion-avatar>
              <img src="https://pbs.twimg.com/profile_images/1406394350372900868/Itqb69Xm_400x400.jpg">
            </ion-avatar>
          </div>
          <div class="col-9">
            <h3 class="white-text ion-text-wrap mb-0">
              {{ user?.fist_name }} {{ user?.last_name }}
            </h3>
            <p class="white-text ion-text-wrap mb-0">
              {{ user.email }}
            </p>
            <div class="star">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="container mt-4">
    <ion-segment value="editar" (ionChange)="segmentChanged($event)" mode="ios">
      <ion-segment-button value="editar">
        <ion-label>Editar</ion-label>
      </ion-segment-button>
      <ion-segment-button value="password">
        <ion-label>Cambiar Password</ion-label>
      </ion-segment-button>
    </ion-segment>
    <app-editar [user]="user" *ngIf="segment ==='editar'; else change"></app-editar>
  </div>
</ion-content>

<ng-template #change>
  <app-change-password></app-change-password>
</ng-template>
