
ion-content {
  --background: #ecfeff;
  ion-header {
    ion-toolbar {
      --background: var(--ion-meka-primary);
      color: #fff;
      ion-avatar {
        width: 100%;
        height: 100%;
      }
    }
    .toolbar-rounded {
      padding-bottom: 2rem;
      border-radius: 0 0 40px 40px;
      box-shadow: 2px 2px 3px rgba($color: #000000, $alpha: .30);
    }
  }
}
