<app-header [title]="'TABS.MENU' | translate"></app-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div id="menu">
    <div class="profile">
      <div class="container">
        <div class="row g-1 align-items-center">
          <div class="col-4">
            <ion-avatar>
              <div class="meka">
                <p>{{ ts }}</p>
              </div>
            </ion-avatar>
          </div>
          <div class="col-8">
            <ion-label class="getDatos">
              <h2 class="name" *ngIf="(company$ | async) as company">{{ company.name }}</h2>
              <h3 class="jobs">{{ user?.fist_name | titlecase }} {{ user?.last_name | titlecase }}</h3>
              <h3 class="jobs" *ngIf="count$">{{ count$ | async }} trabajos</h3>
              <h4 class="rating">Nivel Bronze</h4>
            </ion-label>
          </div>
        </div>
      </div>
    </div>
    <ion-list class="link">
      <ion-item>
        <ion-label>
          <h1 class="mb-0">{{ active ? 'Off-line' : 'On-line' }}</h1>
        </ion-label>
        <ion-toggle mode="ios" color="danger" [(ngModel)]="active" (ngModelChange)="onOffLine()"></ion-toggle>
      </ion-item>
      <ion-item button *ngFor="let item of content" [routerLink]="item.url" routerLinkActive="router-link-active" >
        <ion-label>{{ item.name }}</ion-label>
      </ion-item>
      <ion-item button (click)="goToMembresia()">
        <ion-label>Membresias</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-label>Salir Sistema</ion-label>
      </ion-item>
    </ion-list>
    <ion-list class="sublink">
      <ion-item button *ngFor="let item of subContent" (click)="item.modal ? onPost(item.name): ''">
        <ion-label>{{ item.name }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-right mb-3">
          <h3 class="text-right mb-0">{{ appInfo?.name || 'Meka LT' }} v{{ appInfo?.version || '1.0.0'}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
