ion-content {
  --background: var(--ion-meka-primary);
  #menu {
    .profile {
      margin-top: 1.5rem;
      .avatar {
        ion-avatar {
          margin: auto;
          margin-top: 0px;
          width:  90px;
          height: 90px;
          img {
            width: 100% !important;
          }
        }
      }
      .getDatos {
        --color: #fff;
        .name {
          color: #fafafa;
          font-weight: 600;
        }
        .jobs {
          color: #fff;;
        }
        .rating {
          color: rgb(203, 159, 48);
          font-weight: 600;
        }
      }
    }
    .link {
      background: none;
      ion-item {
        --background: none;
        ion-label {
          --color: #fff;
        }
      }
    }


    .content {
      margin-top: 20px;

      padding: 1rem 0;
      ion-item {
        --background: none;
        --color: #fff;
        &:last-child {
          --border-style: none;
        }
      }
    }
    .sub-content {
      padding: 1rem 0;
      background: #fafafa;
      ion-item {
        --background: none;
        &:last-child {
          --border-style: none;
        }
      }
    }
  }
}

ion-avatar {
  background: #fafafa;
  padding: 5px;
}


ion-toggle {
  --background: green;
}

ion-avatar {
  margin-left: 10px;
  width: 80px; height: 80px;
  .meka {
    background-color: #fff;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 0px;
      color: rgb(200, 181, 42);
      text-transform: uppercase;
    }
  }
}
