<!-- <div class="checkout">
  <div class="checkout-in">
    <div class="checkout-card">
      <div class="checkbox-alert">
        <p class="mb-0">
          📌 A continuación debes de introducir los datos de tu tarjeta para procesar el pago!
        </p>
      </div>
      <div class="checkbox-form">
        <form action="" [formGroup]="form" (submit)="initPay()">
          <div class="input input-amount">
            <label class="label">Monto a pagar</label>
            <input type="text" readonly formControlName="amount" placeholder="20.00">
            <span class="currency">USD</span>
          </div>
          <hr>
          <div class="input">
            <label class="label">Número de tarjeta</label>
            <div id="card"></div>
          </div>
          <hr>
          <div class="input">
            <label class="label">CVC</label>
            <div id="cvc"></div>
          </div>
          <hr>
          <div class="input">
            <label class="label">Fecha de vencimiento</label>
            <div id="exp"></div>
          </div>
          <ion-button type="submit" expand="block" color="primary" class="mt-4" shape="round" [disabled]="form.invalid || form.disabled" >
            Pay
          </ion-button>
        </form>
      </div>
    </div>
  </div>
</div> -->
